POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=market_sentinel
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password

TELEGRAM_TOKEN=
TELEGRAM_CHAT_ID=

ANGEL_API_KEY=
ANGEL_CLIENT_ID=
ANGEL_PIN=

# Scheduler
COLLECT_INTERVAL=300
RUN_ON_STARTUP=true